

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




body{
    max-width: 1600px;
}



/* NavBar style */
.header{
    margin: 0 auto;
    height: 92px;
    padding: 16px 200px 16px 200px;
    background: linear-gradient( #1a0b2e, #412567);

    border-bottom:0.01px solid  #ffffff;
}
.header .navBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navBar .logo h1{
    color:#ffffff;
}

.navBar .navM{
    display: flex;
    justify-content: space-between;
    gap:32px;
}
.navBar .navM p{
    font-size: 1rem;
    font-weight:500 ;
    color: #ffffff;
}
.primaryBtn button{
    display: flex;
    align-items: center;
    padding: 12px 16px 12px 16px;
    background: linear-gradient(
                120deg,
                #f7e93f 0%,
                #fb09b4 45%,
                #9100f8 85%);

    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    width: 135px;
    height: 44px;
}
.primaryBtn button img{
    margin-left: 4px;
}

/*  Banner CSS */

.baner{
    margin: 0 auto;
    width:100%;
    height: 760px;
    background: url(/assets/hero-bg.png);
    text-align: center;
}
.heroCircle{
    position: relative;
    margin: 0 auto;
    max-width: 550px;
    height:558px;
    padding-top: 101px;
    padding-bottom: 101px;
    
    
}
.heroCircle img{
    position: relative;
    margin-left: 70px;
}
.heroCircle .microPhone{
    position: absolute;
    margin-top: -280px;
    margin-left: 180px;
}
.heroHeadding{
    margin-top: 40px;
    margin-left: 70px;
}
.heroHeadding h1{
    color:#ffffff;
    font-size: 3.75rem;
    font-weight: 800;
    margin-bottom: 8px;
}
.heroHeadding p{
    font-size:1rem;
    font-weight: 600;
    color:#ffffff;
    margin-left: -50px;
    margin-bottom: 24px;
    
}
.heroBtn1{
    width: 201px;
    height: 44px;
    padding: 12px 20px 12px 16px;
    background: linear-gradient(
                120deg,
                #f7e93f 0%,
                #fb09b4 45%,
                #9100f8 85%);

    border: none;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    
}
.heroBtn1 img{
    margin-left: -30px;
}
.heroBtn2{
    
    width: 147px;
    height: 44px;
    border: 1px solid #00ff88;
    border-radius: 30px;
    padding: 12px 20px 12px 20px;
    background-color: transparent;
    color:#00ff88;

}
.heroBtn2 img{
    margin-left: -30px;
    margin-right: 8px;
}
.btn{
    display: flex;
    gap: 8px;
    text-align: center;
    
}
.about{
    margin: 0px auto;
    max-width: 1600px;
    background: linear-gradient( #1a0b2e, #412567);
    text-align: center;
    padding:50px 200px 120px 200px;

}
.about .aboutHead{
    margin: 0px auto;
    color: #ffffff;
    
}
.aboutHead h2{
    font-size: 3rem;
    font-weight: 1000;
}
.aboutHead p{
    font-size:  1rem;
    font-weight: 400;
    line-height: 1.25rem;
}
#last{
    margin-top: 30px;
    margin-bottom: 80px;
}

hr{
    max-width: 1200px;
    border:none;
    margin: 0px auto;
    height:4px;
    background-color: rgb(156, 136, 136);

}
.aboutNum{
    margin-top: 80px;
    display: flex;
    justify-content: center;
    gap:80px;
}
.aboutNum h3{
    font-size: 3rem;
    color:#00ff88;
}
.aboutNum p{
    color:white;

}
/*  chose Take wave*/

.takeWave{
    padding: 100px 120px 200px 120px;
    max-width: 1600px;
    background-color:rgba(61, 13, 119, 0.884);
    
}
.takeWave .text h1{
    font-size: 3rem;
    font-weight: 700px;
    color: white;
    text-align: center;
    margin-bottom: 40px;
}
.gridBox {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap:40px;
  color: white;
  border: 2px solid tomato;
  padding: 20px;
  
}

    
.gridBox .box1{
    max-width: 380px;
    padding: 40px;
    grid-row: 1 / 3;
    color:white;
}
.gridBox .box1 h3{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
}
.gridBox .box2 h3{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
}
.gridBox .box3 h3{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
}
.gridBox .box4 h3{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
}
.gridBox .box5 h3{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
}
.box{
     margin-top: 16px;
    margin-bottom: 16px;
    font-size: 24px;
    font-weight: 700;
}
.gridBox .box2{
    grid-column: 2 / 4;

}
.gridBox .box3{
    grid-column: 2 / 4;
    
}
.gridBox .box4{
    grid-column: 1/ 3;
}

.featured{
    max-width: 1600px;
    margin: 0px auto;
    background: linear-gradient( #1a0b2e, #412567);
    color: #ffffff;
    padding: 120px 200px;
    text-align: center;
}
.content{
    max-width: 1200px;
    max-height: 538px;
    display: flex;
    justify-content: center;
    gap:30px;
}
/*.host{
    display: flex;
    justify-content: center;
}*/
.socialIcon{
    display: flex;
    gap:8px;
    padding: 10px;
    border-radius: 50%;

}
.host h3{
    text-align: center;
}
.hostcontent{
    display: flex;
    align-items: center;
}
.mediaContent{
    max-width: 380px;
    max-height: 480px;
    border: 2px solid tomato;
}
.mediaContent iframe{
    max-width: 380px;
    max-height: 214px;
    background-color: tomato;
}